/* GlobalStyle */

* {
  padding: 0;
  margin: 0;
}

/* Estilização do corpo do site */

body{
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100vh;
  font-size: 1.6rem;
}

html{
  font-size: 70%;
  @media (max-width: 768px) {
      html{
        font-size: 50%;
      }}
  @media (max-width: 480px) {
    html{
      font-size: 35%;
    }
  }
}

/* Estilização do header - Top do site - Logo - Menu de navegação */

header {
  background-color: #e29a96;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  top: 0;
}

.sessaoHeader {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imgCabecalho {
  border-radius: 16px;
  height: 75px;
  padding: 10px;
}

.menuHeader {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #65823a;
  border-radius: 16px 16px 0 0;
  align-self: flex-end;
}

.itemMenuHeader {
  float: left;
}

li a {
  display: block;
  color: #f9ebea;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

li a:hover{
  background-color: #ca4941;
}

/* Estilização do Main  - Conteúdo principal Termos e Política */

.containerTermos {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  
}

h2{
  color: #547424;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: justify;
}